# This GitHUb Action copies repos based on a text file that indicates which repos to copy

# To run, this file requires a separate file, Included_Device_Repos.txt to be in the same folder as this file.

name: Copy_Device_Repositories

# Choose how to trigger the workflow
on:
    # Trigger the workflow manually
    workflow_dispatch:
    # Trigger the workflow on a schedule. In this case, once at midnight, and once at noon.
    #schedule:
    #    - cron: '0 0,12 * * *'

jobs:
    # Read the file contents from the CSV in the repo
    file_contents:
        runs-on: ubuntu-latest
        outputs:
              device_repos: ${{ steps.read_file.outputs.device_repos }}
              kit_repo: ${{ steps.kit_repo_step.outputs.kit_repo }}
        steps:
        # Checkout the kit repo
        - name: Checkout the kit repo
          uses: actions/checkout@v6
          with:
            path: kit_repo
        
        - name: Double check Kit Repo Path
          id: kit_repo_step
          env:
            KIT_REPO_PATH: ${{ github.repository }}
          run: |
              echo "kit_repo=${{ github.repository }}" >> $GITHUB_OUTPUT
              echo "Read repo directly: ${{ github.repository }}"
              echo "Read repo as environmental variable: $KIT_REPO_PATH"
              echo "Read repo as environmental variable with brackets: ${{ env.KIT_REPO_PATH }}"
          
        # Install python dependencies for the next step
        - name: Install Python dependencies
          run: python -m pip install --upgrade pip pandas
        
        # Read the file that includes all the repos
        - name: Read repo names
          id: read_file
          
          # Use python to read the CSV file and create a dynamic matrix with all the devices to add to the kit repo
          shell: python
          run: |
              # Import the requesite python libraries
              import pandas
              import json
              import os
              # Read the file
              included_devices = pandas.read_csv('kit_repo/.github/workflows/Included_Devices.csv', skipinitialspace=True, usecols=["RepoName"])
              # Print out what has been read for debugging
              print(included_devices.RepoName)
              # Pandas uses a different data type that doesn't work with the next function, so change it from a series to a list data type
              device_list = included_devices.RepoName.tolist()
              # Print the new list for debugginb
              print(device_list)
              # Convert the list to JSON format for the matrix in the next step
              devices = json.dumps(device_list)
              # Print out the devices to include for debugging
              print(devices)
              # Pass the python variable "Devices" as a GitHub Output
              with open(os.environ['GITHUB_OUTPUT'], 'a') as fh:
                  print(f'device_repos={devices}', file=fh)

        - name: Check output
          id: check_repos
          run: |
              # Print out for debugging
              echo "${{ fromJson(steps.read_file.outputs.device_repos) }}"
              # echo "${{ steps.read_file.outputs.device_repos }}"
              echo "Kit Repo: ${{ steps.kit_repo_step.outputs.kit_repo }}"

    create_matrix:
        runs-on: ubuntu-latest
        needs: file_contents
        # Make a matrix of repo names to run the next section of code with a matrix strategy
        strategy:
          matrix:
            devices: ${{ fromJson(needs.file_contents.outputs.device_repos) }}

        steps:
        
        # Added for debugging and to not have this job empty.
        - name: Read through the files
          run: |
              echo "Read device name: ${{matrix.devices}}"
              echo "Read device list: ${{needs.file_contents.outputs.device_repos}}"
              echo "Try to read path from environmental variable: ${{ env.KIT_REPO_PATH }}"
              echo "Try to read path from output ${{ needs.file_contents.outputs.kit_repo}}"
        
        # Checkout the kit repo
        - name: Checkout the kit repo
          uses: actions/checkout@v6
          with:
            path: kit_repo
              
        # Checkout the device repo
        - name: Checkout device repo
          uses: actions/checkout@v6
          with:
              repository: makersmakingchange/${{matrix.devices}}
              path: ./${{matrix.devices}}
              fetch-depth: 0
        
        # Check path variables
        - name: Check path variables
          run: |
              echo "Github Workspace: $GITHUB_WORKSPACE"
        
        # Copy the files with Git commands
        - name: Copy maker files
          run: |
              cp -R ./${{matrix.devices}}/Build_Files kit_repo/Build_Files
              # Copy maker guide
              # cp ./${{matrix.devices}}/Documents/*Maker_Guide.pdf ./Documents/*Maker_Guide.pdf
              # cp ./${{matrix.devices}}/*BOM.csv ./Documents/*BOM.csv

        # Commit and push the files to the new folder
        - name: Commit and push files to kit repo
          run: |
              echo "$PWD"
              cd kit_repo
              git config user.name "GitHub Action"
              git config user.email "github_action@github.com"
              git add .
              git commit -m "Automatic update of files from devices listed in the kits"
              git push 

        # Copy the maker files
        #- name: Copy maker files
        #  run: bash ${{ needs.file_contents.outputs.kit_repo }}/.github/workflows/open_maker_files.sh
          # run: bash ./.github/workflows/open_maker_files.sh
        #  env:
        #      DESTINATION_PATH: ./${{matrix.devices}}  

        
                
            
