# This GitHUb Action copies repos based on a text file that indicates which repos to copy

# To run, this file requires a separate file, Included_Device_Repos.txt to be in the same folder as this file.

name: Copy_Device_Repositories

# Choose how to trigger the workflow
on:
    # Trigger the workflow manually
    workflow_dispatch:
    # Trigger the workflow on a schedule. In this case, once at midnight, and once at noon.
    schedule:
        - cron: '0 0,12 * * *'

jobs:
    file_contents:
        runs-on: ubuntu-latest
        steps:
             # Checkout the kit repo
        - name: Checkout the kit repo
          uses: actions/checkout@v6
        
            # Read the file that includes all the repos
        - name: Read repo names
          id: read_file
          # Use python to read the CSV file and create a dynamic matrix with all the devices to add to the kit repo
          shell: python
          run: |
              import pandas
              included_devices = pandas.read_csv('.github/workflows/Included_Devices.csv')
              print(included_devices)
              
