name: Test Filtering

on: workflow_dispatch

jobs:
    filter_files:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v2

        - name: Select files and folders
          run: | 
            git add Build_Files
            git add Documentation/*.csv
            git add Documentation/*Guide.pdf

        - name: Switch branches and commit files
          run: |
              git checkout -B maker-file-branch
              git commit -m "Added subset of files to maker-file-branch"
            
