name: Test Filtering

on: workflow_dispatch

jobs:
    filter_files:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v6

      #  - name: Set configuration name and email
      #    run: |
      #        git config --local user.name "github-action"
      #        git config --local user.email "github_actions@github.com"

        - name: Grab files to commit and commit them
          run: |
              git checkout Build_Files 'Documentation/*.csv' 'Documentation/*Guide.pdf'
         # uses: actions/checkout@v6
        #  with:
        #      path: main
        #      sparse-checkout: |
        #          Build_Files
                #  'Documentation/*.csv'
                #  'Documentation/*Guide.pdf'
        - name: Add and commit files to the branch.
          run: |
              git checkout maker-file-branch
              git add .
              git commit -m "Added subset of files to maker-file-branch"
            
