name: Test Filtering

on: workflow_dispatch

jobs:
    filter_files:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v6
          with:
              fetch-depth: 0

        - name: Set configuration name and email
          run: |
              git config --local user.name "s.dobri"
              git config --local user.email "stephan.dobri@queensu.ca"

        - name: Switch to correct branch
          run: |
              git checkout maker-file-branch

        - name: Grab files to commit and commit them
          run: |
              git checkout main Build_Files 
              git checkout main 'Documentation/*.csv' 
              git checkout main 'Documentation/*Guide.pdf'
         # uses: actions/checkout@v6
        #  with:
        #      path: main
        #      sparse-checkout: |
        #          Build_Files
                #  'Documentation/*.csv'
                #  'Documentation/*Guide.pdf'
        - name: Add and commit files to the branch.
          run: |
              git add .
              git commit -m "Added subset of files to maker-file-branch"
              git push
            
