name: Test Filtering

on: workflow_dispatch

jobs:
    filter_files:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v2

        - name: Set configuration name and email
          run: |
              git config --local user.name "SDobri"
              git config --local user.email "stephand@neilsquire.ca"

        - name: Select files and folders
          run: | 
            git add Build_Files
            git add Documentation/*.csv
            git add Documentation/*Guide.pdf

        - name: Switch branches and commit files
          run: |
              git fetch origin
              git checkout maker-file-branch
              git commit -m "Added subset of files to maker-file-branch"
            
